<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.eam.miprimeraapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiPrimeraApp">
        <activity
            android:name=".actividades.ResultadoBusquedaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.ListasProductosActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/fondo_busqueda" />

        <activity
            android:name=".barra_superior"
            android:exported="false" />
        <activity
            android:name=".actividades.CompraActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.DetalleProductoActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>